In [152]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [153]:
df = pd.read_csv('crash_rates.csv')
#adjusting settings so that we can see all of the cvolumns.
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

C:\Users\ozbun\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,4,5,23,24,25,26) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [154]:
#Initial data inspection
df.head()

,borough,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,cross_street_name,timestamp,latitude,longitude,location,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_persons_injured,number_of_persons_killed,off_street_name,on_street_name,unique_key,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,zip_code
0,BRONX,Unspecified,Unspecified,NaN,NaN,NaN,EAST 156 STREET,1/16/2014 23:30,40.814934,-73.897645,"(40.8149337, -73.8976455)",0,0,2,0,1,0,3,0.0,NaN,SOUTHERN BOULEVARD,78403,PASSENGER VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN,10455.0
1,BROOKLYN,Unspecified,Unspecified,NaN,NaN,NaN,CLASSON AVENUE,8/13/2013 6:50,40.694012,-73.961094,"(40.6940116, -73.9610935)",0,0,0,0,1,0,1,0.0,NaN,MYRTLE AVENUE,193101,PASSENGER VEHICLE,PEDICAB,NaN,NaN,NaN,11205.0
2,BROOKLYN,Unspecified,Unspecified,NaN,NaN,NaN,VANDERBILT AVENUE,7/6/2013 21:25,40.689469,-73.969105,"(40.6894687, -73.9691048)",0,0,0,0,1,0,1,0.0,NaN,DE KALB AVENUE,192934,PASSENGER VEHICLE,SCOOTER,NaN,NaN,NaN,11205.0
3,QUEENS,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,NaN,4/6/2019 9:50,40.592907,-73.795310,"(40.592907, -73.79531)",0,0,0,0,1,0,1,0.0,66-08 BEACH CHANNEL DRIVE,NaN,4109774,Sedan,Truck,NaN,NaN,NaN,11692.0
4,MANHATTAN,Alcohol Involvement,Unspecified,NaN,NaN,NaN,7 AVENUE SOUTH,2/17/2013 0:20,40.733633,-74.002786,"(40.7336333, -74.0027856)",0,0,0,0,2,0,2,0.0,NaN,CHRISTOPHER STREET,10452,PASSENGER VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN,10014.0

In [155]:
#Looking at data types, most of which are objects
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90071 entries, 0 to 90070
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   borough                        72697 non-null  object
 1   contributing_factor_vehicle_1  87481 non-null  object
 2   contributing_factor_vehicle_2  3319 non-null   object
 3   contributing_factor_vehicle_3  833 non-null    object
 4   contributing_factor_vehicle_4  281 non-null    object
 5   contributing_factor_vehicle_5  110 non-null    object
 6   cross_street_name              69278 non-null  object
 7   timestamp                      90071 non-null  object
 8   latitude                       83264 non-null  float64
 9   longitude                      83264 non-null  float64
 10  location                       83264 non-null  object
 11  number_of_cyclist_injured      90071 non-null  int64
 12  number_of_cyclist_killed       90071 non-null  int64
 13  number_of_motorist_injured     90071 non-null  int64
 14  number_of_motorist_killed      90071 non-null  int64
 15  number_of_pedestrians_injured  90071 non-null  int64
 16  number_of_pedestrians_killed   90071 non-null  int64
 17  number_of_persons_injured      90071 non-null  int64
 18  number_of_persons_killed       90067 non-null  float64
 19  off_street_name                11347 non-null  object
 20  on_street_name                 78436 non-null  object
 21  unique_key                     90071 non-null  int64
 22  vehicle_type_code1             85114 non-null  object
 23  vehicle_type_code2             3238 non-null   object
 24  vehicle_type_code_3            831 non-null    object
 25  vehicle_type_code_4            282 non-null    object
 26  vehicle_type_code_5            109 non-null    object
 27  zip_code                       72689 non-null  float64
dtypes: float64(4), int64(8), object(16)
memory usage: 19.2+ MB

In [156]:
#Looking at null values
# most of the contributing factor and vehicle code types are nulls.  We are going to drop all of these columns.
df.isna().sum()

borough                          17374
contributing_factor_vehicle_1     2590
contributing_factor_vehicle_2    86752
contributing_factor_vehicle_3    89238
contributing_factor_vehicle_4    89790
contributing_factor_vehicle_5    89961
cross_street_name                20793
timestamp                            0
latitude                          6807
longitude                         6807
location                          6807
number_of_cyclist_injured            0
number_of_cyclist_killed             0
number_of_motorist_injured           0
number_of_motorist_killed            0
number_of_pedestrians_injured        0
number_of_pedestrians_killed         0
number_of_persons_injured            0
number_of_persons_killed             4
off_street_name                  78724
on_street_name                   11635
unique_key                           0
vehicle_type_code1                4957
vehicle_type_code2               86833
vehicle_type_code_3              89240
vehicle_type_code_4              89789
vehicle_type_code_5              89962
zip_code                         17382
dtype: int64

In [157]:
#dropping columns
column_names = ['contributing_factor_vehicle_2', 
                'contributing_factor_vehicle_3', 
                'contributing_factor_vehicle_4', 
                'contributing_factor_vehicle_5', 
                'vehicle_type_code2', 
                'vehicle_type_code_3',  
                'vehicle_type_code_4',  
                'vehicle_type_code_5', 
                'off_street_name',
                'cross_street_name']
df.drop(columns = column_names, inplace = True, axis =1)

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90071 entries, 0 to 90070
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   borough                        72697 non-null  object
 1   contributing_factor_vehicle_1  87481 non-null  object
 2   timestamp                      90071 non-null  object
 3   latitude                       83264 non-null  float64
 4   longitude                      83264 non-null  float64
 5   location                       83264 non-null  object
 6   number_of_cyclist_injured      90071 non-null  int64
 7   number_of_cyclist_killed       90071 non-null  int64
 8   number_of_motorist_injured     90071 non-null  int64
 9   number_of_motorist_killed      90071 non-null  int64
 10  number_of_pedestrians_injured  90071 non-null  int64
 11  number_of_pedestrians_killed   90071 non-null  int64
 12  number_of_persons_injured      90071 non-null  int64
 13  number_of_persons_killed       90067 non-null  float64
 14  on_street_name                 78436 non-null  object
 15  unique_key                     90071 non-null  int64
 16  vehicle_type_code1             85114 non-null  object
 17  zip_code                       72689 non-null  float64
dtypes: float64(4), int64(8), object(6)
memory usage: 12.4+ MB

In [159]:
df.isna().sum()

borough                          17374
contributing_factor_vehicle_1     2590
timestamp                            0
latitude                          6807
longitude                         6807
location                          6807
number_of_cyclist_injured            0
number_of_cyclist_killed             0
number_of_motorist_injured           0
number_of_motorist_killed            0
number_of_pedestrians_injured        0
number_of_pedestrians_killed         0
number_of_persons_injured            0
number_of_persons_killed             4
on_street_name                   11635
unique_key                           0
vehicle_type_code1                4957
zip_code                         17382
dtype: int64

In [160]:
#dropping all null values from the location to get rid of any rows with out long/lat coordinates. 
df = df.dropna(subset = ['location'])
df = df.dropna(subset = ['number_of_persons_killed'])
df = df.dropna(subset = ['contributing_factor_vehicle_1'])
df = df.dropna(subset = ['vehicle_type_code1'])

In [161]:
df.isna().sum()

borough                          10954
contributing_factor_vehicle_1        0
timestamp                            0
latitude                             0
longitude                            0
location                             0
number_of_cyclist_injured            0
number_of_cyclist_killed             0
number_of_motorist_injured           0
number_of_motorist_killed            0
number_of_pedestrians_injured        0
number_of_pedestrians_killed         0
number_of_persons_injured            0
number_of_persons_killed             0
on_street_name                    9570
unique_key                           0
vehicle_type_code1                   0
zip_code                         10961
dtype: int64

In [162]:
df.shape

(77974, 18)

In [163]:
#We eventually want to predict the contributing factor for the incident, 
#so looking at the different types of incidents and how often they occur.

df['contributing_factor_vehicle_1'].value_counts()

Unspecified                                              32619
Driver Inattention/Distraction                           15239
Failure to Yield Right-of-Way                            14092
Backing Unsafely                                          3287
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion     1899
Passenger Distraction                                     1309
View Obstructed/Limited                                   1168
Other Vehicular                                            892
Traffic Control Disregarded                                839
Glare                                                      758
Aggressive Driving/Road Rage                               661
Driver Inexperience                                        617
Unsafe Speed                                               528
Pavement Slippery                                          467
Alcohol Involvement                                        465
Turning Improperly                                         374
Passing Too Closely                                        316
Prescription Medication                                    294
Passing or Lane Usage Improper                             293
Physical Disability                                        266
Outside Car Distraction                                    215
Reaction to Uninvolved Vehicle                             144
Lost Consciousness                                         142
Following Too Closely                                      139
Oversized Vehicle                                          118
Fatigued/Drowsy                                            109
Other Electronic Device                                     96
Brakes Defective                                            89
Unsafe Lane Changing                                        81
Obstruction/Debris                                          63
Illness                                                     48
Driverless/Runaway Vehicle                                  38
Failure to Keep Right                                       30
Reaction to Other Uninvolved Vehicle                        28
Accelerator Defective                                       27
Drugs (Illegal)                                             25
Illnes                                                      24
Traffic Control Device Improper/Non-Working                 20
Drugs (illegal)                                             20
Fell Asleep                                                 19
Tire Failure/Inadequate                                     16
Tinted Windows                                              14
Lane Marking Improper/Inadequate                            12
Pavement Defective                                          11
Other Lighting Defects                                       9
Steering Failure                                             9
Cell Phone (hand-Held)                                       8
Cell Phone (hands-free)                                      6
Shoulders Defective/Improper                                 6
80                                                           4
Windshield Inadequate                                        4
Cell Phone (hand-held)                                       3
Animals Action                                               3
Headlights Defective                                         3
Vehicle Vandalism                                            3
Tow Hitch Defective                                          3
Using On Board Navigation Device                             1
Texting                                                      1
Name: contributing_factor_vehicle_1, dtype: int64

In [164]:
df.head(100)

,borough,contributing_factor_vehicle_1,timestamp,latitude,longitude,location,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_persons_injured,number_of_persons_killed,on_street_name,unique_key,vehicle_type_code1,zip_code
0,BRONX,Unspecified,1/16/2014 23:30,40.814934,-73.897645,"(40.8149337, -73.8976455)",0,0,2,0,1,0,3,0.0,SOUTHERN BOULEVARD,78403,PASSENGER VEHICLE,10455.0
1,BROOKLYN,Unspecified,8/13/2013 6:50,40.694012,-73.961094,"(40.6940116, -73.9610935)",0,0,0,0,1,0,1,0.0,MYRTLE AVENUE,193101,PASSENGER VEHICLE,11205.0
2,BROOKLYN,Unspecified,7/6/2013 21:25,40.689469,-73.969105,"(40.6894687, -73.9691048)",0,0,0,0,1,0,1,0.0,DE KALB AVENUE,192934,PASSENGER VEHICLE,11205.0
3,QUEENS,Driver Inattention/Distraction,4/6/2019 9:50,40.592907,-73.795310,"(40.592907, -73.79531)",0,0,0,0,1,0,1,0.0,NaN,4109774,Sedan,11692.0
4,MANHATTAN,Alcohol Involvement,2/17/2013 0:20,40.733633,-74.002786,"(40.7336333, -74.0027856)",0,0,0,0,2,0,2,0.0,CHRISTOPHER STREET,10452,PASSENGER VEHICLE,10014.0
5,QUEENS,Failure to Keep Right,3/14/2016 13:00,40.674000,-73.872100,"(40.674, -73.8721)",0,0,0,0,1,0,1,0.0,QUEENS BOULEVARD,3425418,4 dr sedan,11104.0
6,BRONX,Traffic Control Disregarded,1/1/2014 9:30,40.842464,-73.924135,"(40.8424645, -73.9241348)",0,0,1,0,2,0,3,0.0,OGDEN AVENUE,88175,UNKNOWN,10452.0
7,MANHATTAN,Other Vehicular,3/12/2015 10:00,40.771783,-73.965435,"(40.7717829, -73.9654346)",0,0,0,0,1,0,1,0.0,EAST 72 STREET,3184765,TAXI,10021.0
8,MANHATTAN,Driver Inattention/Distraction,7/25/2017 0:00,40.798560,-73.963370,"(40.79856, -73.96337)",0,0,1,0,1,0,2,0.0,COLUMBUS AVENUE,3718901,Sedan,10025.0
9,BROOKLYN,Physical Disability,10/22/2014 17:50,40.674222,-74.011179,"(40.6742224, -74.0111793)",0,0,2,0,1,0,3,0.0,DWIGHT STREET,2812620,BUS,11231.0
10,BROOKLYN,Backing Unsafely,10/2/2017 8:54,40.711980,-73.968030,"(40.71198, -73.96803)",0,0,0,0,1,0,1,0.0,NaN,3770541,PK,11249.0
11,MANHATTAN,Failure to Yield Right-of-Way,6/11/2014 7:40,40.767813,-73.962014,"(40.7678129, -73.9620143)",0,0,0,0,1,0,1,0.0,3 AVENUE,349716,TAXI,10021.0
12,BROOKLYN,Driver Inattention/Distraction,7/7/2020 18:01,40.659225,-73.953390,"(40.659225, -73.95339)",0,0,1,0,1,0,2,0.0,ROGERS AVENUE,4326465,Station Wagon/Sport Utility Vehicle,11225.0
13,BRONX,Driver Inexperience,10/21/2017 11:05,40.850166,-73.844925,"(40.850166, -73.844925)",0,0,0,0,1,0,1,0.0,NaN,3773689,Station Wagon/Sport Utility Vehicle,10461.0
14,BRONX,Unsafe Lane Changing,6/26/2017 13:00,40.840225,-73.917690,"(40.840225, -73.91769)",0,0,0,0,1,0,1,0.0,JEROME AVENUE,3700054,Sedan,10452.0
16,MANHATTAN,Turning Improperly,4/5/2021 19:42,40.800972,-73.947174,"(40.800972, -73.947174)",0,0,1,0,1,0,2,0.0,NaN,4407771,Station Wagon/Sport Utility Vehicle,10026.0
17,BRONX,Other Vehicular,3/19/2017 23:08,40.819016,-73.848040,"(40.819016, -73.84804)",0,0,1,0,1,0,2,0.0,CASTLE HILL AVENUE,3635352,Sedan,10473.0
18,MANHATTAN,Failure to Yield Right-of-Way,3/10/2015 15:15,40.729432,-73.978027,"(40.7294318, -73.978027)",0,0,0,0,1,0,1,0.0,EAST 14 STREET,3183499,OTHER,10009.0
19,BRONX,Brakes Defective,3/17/2017 8:09,40.833830,-73.921234,"(40.83383, -73.921234)",0,0,0,0,2,0,2,0.0,MCCLELLAN STREET,3634090,Station Wagon/Sport Utility Vehicle,10452.0
20,MANHATTAN,Other Vehicular,11/10/2013 11:30,40.778225,-73.958629,"(40.7782253, -73.9586287)",0,0,1,0,1,0,2,0.0,EAST 83 STREET,50840,TAXI,10028.0
21,QUEENS,Alcohol Involvement,4/25/2019 0:50,40.765320,-73.771904,"(40.76532, -73.771904)",0,0,0,0,1,0,1,0.0,39 AVENUE,4120749,Sedan,11361.0
22,BRONX,Aggressive Driving/Road Rage,4/6/2018 13:46,40.819860,-73.893906,"(40.81986, -73.893906)",0,0,0,0,2,0,2,0.0,FOX STREET,3876592,Sedan,10459.0
23,BRONX,Backing Unsafely,2/7/2018 22:55,40.816864,-73.882744,"(40.816864, -73.882744)",0,0,0,0,1,0,1,0.0,NaN,3842988,Tractor Truck Diesel,10474.0
24,BRONX,Unsafe Speed,4/23/2021 12:33,40.836610,-73.922340,"(40.83661, -73.92234)",0,0,1,0,1,0,2,0.0,GRANT HIGHWAY,4409815,Sedan,10452.0
25,BRONX,Unspecified,7/30/2013 8:00,40.885991,-73.827914,"(40.8859908, -73.827914)",0,0,1,0,1,0,2,0.0,BOSTON ROAD,98085,PASSENGER VEHICLE,10475.0
26,MANHATTAN,Unspecified,3/5/2016 22:01,40.742910,-73.992804,"(40.7429104, -73.9928041)",0,0,0,0,1,0,1,0.0,WEST 23 STREET,3400370,TAXI,10010.0
27,MANHATTAN,Unspecified,7/6/2013 23:45,40.852475,-73.929603,"(40.8524751, -73.9296033)",0,0,0,0,1,0,1,0.0,AUDUBON AVENUE,71568,MOTORCYCLE,10033.0
28,QUEENS,Driver Inattention/Distraction,7/25/2014 11:00,40.700427,-73.758845,"(40.7004271, -73.7588455)",0,0,0,0,1,0,1,0.0,196 STREET,998635,PASSENGER VEHICLE,11412.0
29,QUEENS,Passing or Lane Usage Improper,12/21/2019 16:00,40.721450,-73.843990,"(40.72145, -73.84399)",0,0,0,0,1,0,1,0.0,71 AVENUE,4267001,Sedan,11375.0
30,BROOKLYN,Driver Inattention/Distraction,8/30/2012 17:58,40.631688,-74.021735,"(40.6316877, -74.0217355)",0,0,0,0,1,0,1,0.0,5 AVENUE,141138,SPORT UTILITY / STATION WAGON,11209.0
31,BRONX,Unspecified,1/9/2017 22:25,40.818913,-73.893555,"(40.818913, -73.893555)",0,0,0,0,1,0,1,0.0,NaN,3595769,Station Wagon/Sport Utility Vehicle,10459.0
32,BRONX,Unspecified,7/25/2014 13:00,40.857426,-73.847079,"(40.8574263, -73.8470787)",0,0,2,0,1,0,3,0.0,NaN,998407,AMBULANCE,10461.0
33,QUEENS,Aggressive Driving/Road Rage,7/20/2018 14:40,40.767555,-73.912030,"(40.767555, -73.91203)",0,0,0,0,1,0,1,0.0,NaN,3946705,Sedan,11103.0
34,BROOKLYN,Aggressive Driving/Road Rage,8/21/2020 17:30,40.694546,-73.960240,"(40.694546, -73.96024)",1,0,0,0,1,0,2,0.0,NaN,4341196,Sedan,11205.0
35,BROOKLYN,Oversized Vehicle,2/25/2019 15:00,40.684820,-74.004585,"(40.68482, -74.004585)",0,0,0,0,1,0,1,0.0,NaN,4088210,Tractor Truck Gasoline,11231.0
36,MANHATTAN,Aggressive Driving/Road Rage,5/22/2017 9:40,40.829964,-73.936670,"(40.829964, -73.93667)",0,0,1,0,1,0,2,0.0,NaN,3676253,fire truck,10039.0
37,BRONX,Other Vehicular,4/6/2017 9:00,40.833940,-73.908700,"(40.83394, -73.9087)",0,0,0,0,1,0,1,0.0,WEBSTER AVENUE,3646510,PK,10456.0
38,BRONX,Brakes Defective,10/25/2017 9:00,40.845886,-73.915085,"(40.845886, -73.915085)",0,0,0,0,1,0,1,0.0,FEATHERBED LANE,3776670,Sedan,10452.0
39,BRONX,Physical Disability,2/21/2013 8:50,40.843823,-73.916554,"(40.8438234, -73.9165542)",0,0,1,0,1,0,2,0.0,INWOOD AVENUE,86440,LIVERY VEHICLE,10452.0
40,MANHATTAN,Other Vehicular,7/18/2014 19:10,40.865101,-73.921882,"(40.8651013, -73.9218819)",0,0,1,0,1,0,2,0.0,SHERMAN AVENUE,995385,SPORT UTILITY / STATION WAGON,10034.0
41,QUEENS,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,10/4/2018 10:35,40.784893,-73.845790,"(40.784893, -73.84579)",0,0,0,0,1,0,1,0.0,COLLEGE POINT BOULEVARD,3996836,Station Wagon/Sport Utility Vehicle,11356.0
42,MANHATTAN,Traffic Control Disregarded,8/16/2017 6:12,40.773872,-73.982230,"(40.773872, -73.98223)",0,0,1,0,1,0,2,0.0,BROADWAY,3731780,Station Wagon/Sport Utility Vehicle,10023.0
43,BROOKLYN,Brakes Defective,6/28/2016 10:15,40.704254,-73.967220,"(40.704254, -73.96722)",0,0,0,0,2,0,2,0.0,CLYMER STREET,3472370,Van,11249.0
44,MANHATTAN,Driver Inattention/Distraction,7/11/2018 15:50,40.847210,-73.939790,"(40.84721, -73.93979)",0,0,0,0,1,0,1,0.0,WEST 176 STREET,3939752,Station Wagon/Sport Utility Vehicle,10033.0
45,BROOKLYN,Driver Inattention/Distraction,10/4/2017 15:10,40.677580,-73.972320,"(40.67758, -73.97232)",0,0,0,0,1,0,1,0.0,NaN,3763562,Station Wagon/Sport Utility Vehicle,11238.0
46,MANHATTAN,Driver Inattention/Distraction,8/26/2017 23:00,40.708378,-74.011210,"(40.708378, -74.01121)",0,0,1,0,1,0,2,0.0,NaN,3738842,Sedan,10006.0
47,QUEENS,Tire Failure/Inadequate,7/10/2016 16:00,40.595140,-73.749960,"(40.59514, -73.74996)",0,0,1,0,1,0,2,0.0,SEAGIRT BOULEVARD,3477925,PK,11691.0
48,NaN,Unspecified,4/23/2021 23:30,40.640583,-73.955730,"(40.640583, -73.95573)",0,0,0,0,1,0,1,0.0,FLATBUSH AVENUE,4410069,Station Wagon/Sport Utility Vehicle,NaN
49,NaN,Alcohol Involvement,9/21/2019 2:25,40.684002,-73.816030,"(40.684002, -73.81603)",0,0,0,0,2,0,2,0.0,126 STREET,4209654,Station Wagon/Sport Utility Vehicle,NaN
50,NaN,Following Too Closely,6/7/2021 13:55,40.661180,-73.956960,"(40.66118, -73.95696)",0,0,16,0,1,0,17,0.0,BEDFORD AVENUE,4425069,Bus,NaN
52,NaN,Failure to Yield Right-of-Way,3/11/2021 0:00,40.670660,-73.957985,"(40.67066, -73.957985)",0,0,1,0,1,0,2,0.0,EASTERN PARKWAY,4399930,Station Wagon/Sport Utility Vehicle,NaN
53,NaN,Pavement Slippery,9/10/2018 4:54,40.826622,-73.930984,"(40.826622, -73.930984)",0,0,0,0,0,1,0,1.0,MAJOR DEEGAN EXPRESSWAY,3978574,Taxi,NaN
55,NaN,Backing Unsafely,11/13/2020 12:21,40.637096,-73.934650,"(40.637096, -73.93465)",0,0,0,0,0,1,0,1.0,TROY AVENUE,4367320,Dump,NaN
56,NaN,Other Vehicular,8/5/2020 0:17,40.840153,-73.885720,"(40.840153, -73.88572)",0,0,2,0,0,1,2,1.0,CROSS BRONX EXPY,4335527,Sedan,NaN
57,NaN,Failure to Yield Right-of-Way,5/24/2019 18:55,40.855556,-73.929180,"(40.855556, -73.92918)",0,0,0,0,1,0,1,0.0,SAINT NICHOLAS AVENUE,4139811,Sedan,NaN
58,NaN,Aggressive Driving/Road Rage,3/17/2018 16:40,40.684840,-73.792810,"(40.68484, -73.79281)",0,0,0,0,1,0,1,0.0,SUTPHIN BOULEVARD,3865793,Sedan,NaN
59,NaN,Driver Inexperience,7/6/2016 12:00,40.761380,-73.865740,"(40.76138, -73.86574)",0,0,0,0,1,0,1,0.0,ASTORIA BOULEVARD,3475967,Station Wagon/Sport Utility Vehicle,NaN
61,NaN,Unsafe Speed,9/24/2016 3:34,40.746113,-73.735760,"(40.746113, -73.73576)",0,0,2,0,5,0,7,0.0,CROSS ISLAND PARKWAY,3526003,Sedan,NaN
63,NaN,Driver Inattention/Distraction,8/1/2018 19:00,40.694214,-73.753100,"(40.694214, -73.7531)",0,0,1,0,1,0,2,0.0,LINDEN BOULEVARD,3952991,Sedan,NaN
64,NaN,Passing or Lane Usage Improper,10/15/2017 17:15,40.651646,-73.932150,"(40.651646, -73.93215)",0,0,0,0,1,0,1,0.0,CHURCH AVENUE,3769645,Station Wagon/Sport Utility Vehicle,NaN
65,NaN,Driver Inattention/Distraction,5/3/2018 11:05,40.700733,-73.989740,"(40.700733, -73.98974)",0,0,1,0,1,0,2,0.0,PROSPECT STREET,3892965,Station Wagon/Sport Utility Vehicle,NaN
66,NaN,Driverless/Runaway Vehicle,6/17/2016 8:02,40.790314,-73.947690,"(40.790314, -73.94769)",0,0,0,0,1,0,1,0.0,LEXINGTON AVENUE,3462665,Van,NaN
67,NaN,Unsafe Speed,11/2/2018 19:03,40.888510,-73.860090,"(40.88851, -73.86009)",0,0,1,0,1,0,2,0.0,WHITE PLAINS ROAD,4027396,Pick-up Truck,NaN
68,NaN,Unspecified,5/9/2018 14:30,40.669190,-73.772490,"(40.66919, -73.77249)",0,0,1,0,1,0,2,0.0,BREWER BOULEVARD,3897344,Station Wagon/Sport Utility Vehicle,NaN
71,NaN,Unsafe Speed,4/29/2021 19:46,40.774860,-73.908910,"(40.77486, -73.90891)",0,0,1,1,1,0,2,1.0,35 STREET,4412249,Sedan,NaN
72,MANHATTAN,Driver Inattention/Distraction,2/26/2016 9:15,40.747410,-73.986090,"(40.74741, -73.98609)",0,0,0,0,1,0,1,0.0,NaN,3407420,Pick-up Truck,10001.0
73,MANHATTAN,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,7/12/2019 17:50,40.747852,-73.992910,"(40.747852, -73.99291)",0,0,0,0,1,0,1,0.0,7 AVENUE,4169175,Taxi,10001.0
74,MANHATTAN,Pedestrian/Bicyclist/Other Pedestrian Error/Co...,6/9/2016 4:00,40.732925,-74.000070,"(40.732925, -74.00007)",0,0,0,0,1,0,1,0.0,AVENUE OF THE AMERICAS,3458257,Van,10011.0
75,MANHATTAN,Driver Inattention/Distraction,7/16/2020 10:03,40.738190,-73.996254,"(40.73819, -73.996254)",0,0,0,0,1,0,1,0.0,NaN,4329096,Van,10011.0
76,MANHATTAN,Lost Consciousness,7/18/2015 13:12,40.755242,-73.973276,"(40.7552424, -73.9732757)",0,0,0,0,1,0,1,0.0,EAST 48 STREET,3260968,SPORT UTILITY / STATION WAGON,10017.0
77,MANHATTAN,Turning Improperly,6/15/2017 12:32,40.755290,-73.994930,"(40.75529, -73.99493)",0,0,8,0,2,0,10,0.0,WEST 37 STREET,3692549,Station Wagon/Sport Utility Vehicle,10018.0
78,MANHATTAN,Unspecified,1/28/2016 15:15,40.765881,-73.994632,"(40.7658813, -73.9946319)",0,0,0,0,1,0,1,0.0,WEST 50 STREET,3379450,TAXI,10019.0
79,MANHATTAN,Unspecified,10/27/2012 22:15,40.796003,-73.935409,"(40.7960032, -73.9354092)",0,0,0,0,1,0,1,0.0,EAST 116 STREET,60141,TAXI,10029.0
80,MANHATTAN,Physical Disability,6/5/2019 17:50,40.756138,-73.983180,"(40.756138, -73.98318)",0,0,1,0,2,0,3,0.0,AVENUE OF THE AMERICAS,4146957,Sedan,10036.0
81,QUEENS,Prescription Medication,9/27/2014 13:00,40.751973,-73.931958,"(40.7519729, -73.9319581)",0,0,1,0,1,0,2,0.0,HONEYWELL STREET,1031280,PASSENGER VEHICLE,11101.0
82,QUEENS,Driver Inattention/Distraction,10/26/2013 1:20,40.751841,-73.948052,"(40.7518413, -73.9480519)",0,0,0,0,1,0,1,0.0,11 STREET,243930,PASSENGER VEHICLE,11101.0
83,QUEENS,Illnes,4/2/2018 2:40,40.756046,-73.880730,"(40.756046, -73.88073)",0,0,0,0,1,0,1,0.0,NORTHERN BOULEVARD,3873576,Sedan,11372.0
84,QUEENS,Driver Inattention/Distraction,10/21/2018 19:30,40.755886,-73.882340,"(40.755886, -73.88234)",0,0,0,0,1,0,1,0.0,NaN,4004431,Sedan,11372.0
85,QUEENS,Unspecified,12/29/2012 18:45,40.734376,-73.873417,"(40.7343762, -73.8734167)",0,0,0,0,4,0,4,0.0,QUEENS BOULEVARD,256317,PASSENGER VEHICLE,11373.0
87,QUEENS,View Obstructed/Limited,12/22/2017 14:30,40.704563,-73.910660,"(40.704563, -73.91066)",0,0,0,0,1,0,1,0.0,MENAHAN STREET,3814829,Sedan,11385.0
88,QUEENS,Unspecified,6/5/2021 22:10,40.707092,-73.897240,"(40.707092, -73.89724)",0,0,1,0,1,0,2,0.0,FRESH POND ROAD,4425194,Station Wagon/Sport Utility Vehicle,11385.0
89,QUEENS,Brakes Defective,3/15/2017 20:52,40.713783,-73.920130,"(40.713783, -73.92013)",0,0,0,0,1,0,1,0.0,NaN,3633077,Forkl,11385.0
90,QUEENS,Passing or Lane Usage Improper,4/17/2021 17:20,40.706406,-73.896910,"(40.706406, -73.89691)",0,0,0,0,1,0,1,0.0,NaN,4409935,Station Wagon/Sport Utility Vehicle,11385.0
91,QUEENS,Unsafe Lane Changing,6/22/2019 14:55,40.694107,-73.897370,"(40.694107, -73.89737)",0,0,0,0,1,0,1,0.0,CYPRESS AVENUE,4156568,Station Wagon/Sport Utility Vehicle,11385.0
92,BROOKLYN,Backing Unsafely,7/2/2018 11:30,40.691586,-73.985330,"(40.691586, -73.98533)",0,0,0,0,1,0,1,0.0,NaN,3934562,Van,11201.0
93,BROOKLYN,Fell Asleep,4/27/2016 10:23,40.643170,-73.929480,"(40.64317, -73.92948)",0,0,1,0,1,0,2,0.0,NaN,3432170,4 dr sedan,11203.0
94,BROOKLYN,Unspecified,8/27/2013 9:13,40.630673,-73.981889,"(40.6306728, -73.9818892)",0,0,0,0,1,0,1,0.0,47 STREET,133290,SPORT UTILITY / STATION WAGON,11204.0
95,BROOKLYN,Driver Inattention/Distraction,9/13/2016 14:55,40.622612,-73.986670,"(40.622612, -73.98667)",0,0,0,0,1,0,1,0.0,18 AVENUE,3524888,Box Truck,11204.0
96,BROOKLYN,Unspecified,9/6/2013 17:45,40.698221,-73.943950,"(40.6982205, -73.94395)",0,0,1,0,1,0,2,0.0,PARK AVENUE,181696,PASSENGER VEHICLE,11206.0
97,BROOKLYN,Other Vehicular,3/17/2020 15:08,40.698050,-73.945410,"(40.69805, -73.94541)",0,0,1,0,1,0,2,0.0,NaN,4302271,Sedan,11206.0
98,BROOKLYN,Backing Unsafely,1/20/2013 14:05,40.705889,-73.942966,"(40.7058889, -73.9429661)",0,0,0,0,1,0,1,0.0,GRAHAM AVENUE,195155,SPORT UTILITY / STATION WAGON,11206.0
99,BROOKLYN,Unspecified,11/10/2014 16:10,40.702192,-73.928337,"(40.7021918, -73.9283374)",0,0,0,0,1,0,1,0.0,WILSON AVENUE,2822530,SPORT UTILITY / STATION WAGON,11206.0
100,BROOKLYN,Unspecified,10/20/2015 12:15,40.672716,-73.890315,"(40.6727159, -73.890315)",0,0,0,0,1,0,1,0.0,PITKIN AVENUE,3318953,PASSENGER VEHICLE,11207.0
101,BROOKLYN,Driver Inattention/Distraction,11/6/2020 6:03,40.657642,-73.874900,"(40.657642, -73.8749)",0,0,0,0,1,0,1,0.0,FLATLANDS AVENUE,4364932,Bus,11208.0
102,BROOKLYN,Unspecified,8/16/2013 17:00,40.677700,-73.874036,"(40.6777002, -73.8740363)",0,0,0,0,1,0,1,0.0,LIBERTY AVENUE,168331,PASSENGER VEHICLE,11208.0
103,BROOKLYN,Brakes Defective,3/5/2018 22:05,40.716286,-73.931200,"(40.716286, -73.9312)",0,0,0,0,1,0,1,0.0,NaN,3857066,Flat Bed,11211.0
104,BROOKLYN,Driver Inexperience,10/23/2019 19:23,40.715660,-73.958710,"(40.71566, -73.95871)",0,0,1,0,1,0,2,0.0,NaN,4228321,Sedan,11211.0
105,BROOKLYN,Driver Inattention/Distraction,3/18/2019 19:45,40.598800,-73.988660,"(40.5988, -73.98866)",0,0,0,0,1,0,1,0.0,86 STREET,4100142,Station Wagon/Sport Utility Vehicle,11214.0
106,BROOKLYN,Passing Too Closely,4/5/2017 11:55,40.670746,-73.950424,"(40.670746, -73.950424)",0,0,1,0,2,0,3,0.0,NOSTRAND AVENUE,3646142,Sedan,11216.0
107,BROOKLYN,Unspecified,8/22/2014 13:36,40.679636,-73.949583,"(40.6796356, -73.9495828)",0,0,0,0,2,0,2,0.0,NOSTRAND AVENUE,1012292,SMALL COM VEH(4 TIRES),11216.0

In [165]:
df.shape

(77974, 18)

In [166]:
#Removing any rows where the cause of the accident was Unspecified. 
df = df[df.contributing_factor_vehicle_1 !=  'Unspecified']

In [167]:
#This is one dirty data set.  
#Looking at all of the different types of unique values in each column so we can create a game plane for cleaning.

for col in df:
    print(df[col].unique())

['QUEENS' 'MANHATTAN' 'BRONX' 'BROOKLYN' nan 'STATEN ISLAND']
['Driver Inattention/Distraction' 'Alcohol Involvement'
 'Failure to Keep Right' 'Traffic Control Disregarded' 'Other Vehicular'
 'Physical Disability' 'Backing Unsafely' 'Failure to Yield Right-of-Way'
 'Driver Inexperience' 'Unsafe Lane Changing' 'Turning Improperly'
 'Brakes Defective' 'Aggressive Driving/Road Rage' 'Unsafe Speed'
 'Passing or Lane Usage Improper' 'Oversized Vehicle'
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion'
 'Tire Failure/Inadequate' 'Following Too Closely' 'Pavement Slippery'
 'Driverless/Runaway Vehicle' 'Lost Consciousness'
 'Prescription Medication' 'Illnes' 'View Obstructed/Limited'
 'Fell Asleep' 'Passing Too Closely' 'Reaction to Uninvolved Vehicle'
 'Glare' 'Obstruction/Debris' 'Passenger Distraction'
 'Reaction to Other Uninvolved Vehicle' 'Cell Phone (hand-Held)'
 'Traffic Control Device Improper/Non-Working' 'Outside Car Distraction'
 'Drugs (illegal)' 'Other Electronic Device' 'Accelerator Defective'
 'Fatigued/Drowsy' 'Illness' 'Tinted Windows' 'Other Lighting Defects'
 'Steering Failure' 'Pavement Defective'
 'Lane Marking Improper/Inadequate' 'Cell Phone (hand-held)'
 'Cell Phone (hands-free)' 'Drugs (Illegal)'
 'Shoulders Defective/Improper' 'Animals Action' '80' 'Texting'
 'Windshield Inadequate' 'Vehicle Vandalism'
 'Using On Board Navigation Device' 'Headlights Defective'
 'Tow Hitch Defective']
['4/6/2019 9:50' '2/17/2013 0:20' '3/14/2016 13:00' ... '8/31/2019 20:15'
 '4/5/2021 12:40' '5/21/2019 16:41']
[40.592907  40.7336333 40.674     ... 40.881744  40.87647   40.873184 ]
[-73.79531   -74.0027856 -73.8721    ... -73.86166   -73.83704
 -73.85332  ]
['(40.592907, -73.79531)' '(40.7336333, -74.0027856)' '(40.674, -73.8721)'
 ... '(40.863106, -73.86166)' '(40.87647, -73.83704)'
 '(40.873184, -73.85332)']
[0 1 2]
[0 2]
[ 0  1  2 16  8  6  3  4  5 30  9 12 10  7 11]
[0 1 2]
[ 1  2  0  5  3  4  6  7 27 13  9]
[0 1 2 6]
[ 1  2  3 17  0  7 10  4  5  6 27 32 15 12  8  9]
[0. 1. 2. 8. 4.]
[nan 'CHRISTOPHER STREET' 'QUEENS BOULEVARD' ... 'ALBION PLACE' '32 PLACE'
 'EAST 219 STREET']
[4109774   10452 3425418 ... 4200091 4404957 4140807]
['Sedan' 'PASSENGER VEHICLE' '4 dr sedan' 'UNKNOWN' 'TAXI' 'BUS' 'PK'
 'Station Wagon/Sport Utility Vehicle' 'OTHER' 'Tractor Truck Diesel'
 'SPORT UTILITY / STATION WAGON' 'Tractor Truck Gasoline' 'fire truck'
 'LIVERY VEHICLE' 'Van' 'Bus' 'Taxi' 'Dump' 'Pick-up Truck' 'Forkl'
 'Box Truck' 'Flat Bed' 'Lift Boom' 'Tow Truck / Wrecker' 'E-BIKE' 'Bike'
 'SCOOT' 'Motorscooter' 'Motorcycle' 'pick' 'VAN' 'SMALL COM VEH(4 TIRES)'
 'PICK-UP TRUCK' 'E-Bike' 'van' 'Garbage or Refuse' 'Motorbike'
 'Concrete Mixer' 'SCOOTER' 'LARGE COM VEH(6 OR MORE TIRES)' 'MOTORCYCLE'
 'ELEC. UNIC' 'Convertible' 'mta b' 'SCHOO' '2 dr sedan' 'Forklift'
 'E-Scooter' 'Front-Load' 'E-Sco' 'Ambulance' 'Refrigerated Van'
 'Open Body' 'tow t' 'Armored Truck' 'UNKNO' 'Moped' 'School Bus' 'DELIV'
 'Stree' 'GRUMM' 'ELECT' 'Beverage Truck' 'PICK-' 'AMBULANCE' 'MOTOR'
 'Hopper' 'Minicycle' 'Scoot' 'BICYCLE' 'LIMO' 'FORKL' 'ELECTRIC S'
 'GOLF CART' 'FIRE' 'E-Bik' 'MTA B' 'Power Shov' 'Snow Plow' 'Minibike'
 'DELV' 'Flat Rack' 'dirt' 'Pedicab' 'U-HAL' 'Carry All' 'Pick up tr'
 'TRAILER' 'AMBUL' 'FIRE TRUCK' 'Bulk Agriculture' 'MOPED'
 'Multi-Wheeled Vehicle' 'Motor' 'jeep' 'GOLF' 'SANMEN COU' 'PC'
 'SCHOOL BUS' 'FORK' 'schoo' 'Tanker' 'bus' 'stree' 'motor' 'Chassis Cab'
 'scoot' 'Commercial' 'DIRT' 'dark color' 'posta' 'BICYC' 'Ambul'
 'Scooter' 'MINI' 'moped' 'COMME' '3-Door' 'E bik' 'AMB' 'FORD' 'USPS'
 'ICE C' 'REFG' 'USPS TRUCK' 'AMBU' 'white' 'SKATE' 'pedicab' 'comme'
 'forlift' 'tow' 'p/sh' 'mopad' 'sedan' 'forklift' 'LIGHT TRAI' 'TRACT'
 'E SCO' 'GATOR' 'backh' 'DELIVERY' 'Ebike' 'forkl' 'Backhoe Lo' 'ELEC.'
 'picku' 'suburban' 'DIRT BIKE' 'E BIK' 'ambul' 'GARBAGE TR' 'golf' 'none'
 'E-BIK' 'SCOO' 'UNK' 'FDNY AMBUL' 'Subr' 'Tram' 'PAS' 'TRAC' 'subur'
 'SPC' 'CONST' 'Pavin' 'U-Hau' 'elect' 'VAN/T' 'dump' 'FDNY FIRE']
[11692. 10014. 11104. 10452. 10021. 10025. 11231. 11249. 11225. 10461.
 10026. 10473. 10009. 10028. 11361. 10459. 10474. 11412. 11375. 11209.
 11103. 11205. 10039. 10456. 10034. 11356. 10023. 10033. 11238. 10006.
 11691.    nan 10001. 10011. 10017. 10018. 10036. 11101. 11372. 11385.
 11201. 11203. 11204. 11206. 11208. 11211. 11214. 11216. 11217. 11218.
 11221. 10457. 10458. 11226. 11229. 11230. 11233. 11234. 11235. 11365.
 10005. 11423. 11421. 10454. 11369. 11239. 11378. 10122. 10107. 10472.
 11420. 11427. 10301. 11363. 10470. 11224. 11228. 10032. 11379. 11370.
 11419. 10024. 10463. 11357. 11418. 10453. 10468. 11417. 10031. 11106.
 11435. 11102. 10305. 10455. 10128. 10065. 10027. 11237. 11364. 11232.
 10010. 11416. 10037. 10030. 11429. 11374. 10462. 10007. 11222. 11433.
 10308. 11367. 10069. 11411. 10304. 10038. 10475. 10012. 10306. 10040.
 11436. 10075. 10312. 10004. 11366. 11004. 11360. 11415. 11422. 10020.
 11693. 10310. 11358. 10035. 10471. 11362. 11428. 10465. 11426. 11414.
 11105. 10000. 10168. 10314. 10309. 10165. 10307. 11694. 10464. 10105.
 10172. 10302. 10281. 10282. 11001. 10303. 11040. 10119. 10169. 11109.
 10280. 10121. 10153. 10112. 10278. 10123. 11697. 11430. 10170. 10106.
 10103. 11005. 10002. 10003. 10013. 10016. 10019. 10022. 10029. 11354.
 11355. 11368. 11373. 11377. 11413. 11432. 11434. 11207. 11210. 11212.
 11213. 11215. 10451. 11219. 11220. 11223. 10460. 10466. 10467. 11236.
 10469.]

In [168]:
df.on_street_name.nunique()

3083

In [169]:
df.shape

(45355, 18)

In [170]:
#getting rid of any rows where the latitude or longitude was 0
df = df[df.latitude !=  0]
df = df[df.latitude !=  0]

In [171]:
df.shape

(45295, 18)

In [172]:
df.vehicle_type_code1.nunique()

171

In [174]:
df['vehicle_type_code1'] = df['vehicle_type_code1'].str.lower()

In [175]:
df.vehicle_type_code1.nunique()

136

In [179]:
df = df[df.groupby('vehicle_type_code1').vehicle_type_code1.transform(len) > 1]

In [180]:
df.vehicle_type_code1.nunique()

74

In [181]:
df.vehicle_type_code1.unique()

array(['sedan', 'passenger vehicle', '4 dr sedan', 'unknown', 'taxi',
       'bus', 'pk', 'station wagon/sport utility vehicle', 'other',
       'tractor truck diesel', 'sport utility / station wagon',
       'tractor truck gasoline', 'fire truck', 'livery vehicle', 'van',
       'dump', 'pick-up truck', 'forkl', 'box truck', 'flat bed',
       'tow truck / wrecker', 'e-bike', 'bike', 'scoot', 'motorscooter',
       'motorcycle', 'small com veh(4 tires)', 'garbage or refuse',
       'motorbike', 'concrete mixer', 'scooter',
       'large com veh(6 or more tires)', 'convertible', 'mta b', 'schoo',
       '2 dr sedan', 'forklift', 'e-scooter', 'e-sco', 'ambulance',
       'refrigerated van', 'open body', 'armored truck', 'unkno', 'moped',
       'school bus', 'deliv', 'stree', 'elect', 'beverage truck', 'motor',
       'minicycle', 'bicycle', 'limo', 'e-bik', 'minibike', 'delv',
       'flat rack', 'dirt', 'pedicab', 'carry all', 'ambul',
       'bulk agriculture', 'multi-wheeled vehicle', 'golf', 'fork',
       'tanker', 'chassis cab', 'comme', '3-door', 'e bik', 'amb', 'usps',
       'dirt bike'], dtype=object)

In [182]:
df['vehicle_type_code1'].value_counts()

sedan                                  12225
station wagon/sport utility vehicle    11446
passenger vehicle                       6931
sport utility / station wagon           3921
taxi                                    2883
unknown                                 1250
pick-up truck                           1066
van                                      956
bike                                     850
bus                                      692
4 dr sedan                               686
livery vehicle                           389
other                                    308
box truck                                246
motorcycle                               225
small com veh(4 tires)                   170
large com veh(6 or more tires)           119
e-bike                                    93
e-scooter                                 73
dump                                      64
pk                                        61
convertible                               54
tractor truck diesel                      46
2 dr sedan                                45
ambulance                                 36
motorscooter                              32
moped                                     31
flat bed                                  30
tow truck / wrecker                       24
garbage or refuse                         23
motorbike                                 22
e-bik                                     17
e-sco                                     15
forkl                                     14
elect                                     12
scooter                                   10
carry all                                 10
scoot                                     10
tractor truck gasoline                    10
concrete mixer                             8
ambul                                      8
limo                                       8
motor                                      8
open body                                  8
fire truck                                 6
tanker                                     6
refrigerated van                           5
beverage truck                             5
school bus                                 5
e bik                                      4
pedicab                                    4
minibike                                   4
schoo                                      4
unkno                                      4
armored truck                              3
bulk agriculture                           3
forklift                                   3
mta b                                      3
flat rack                                  3
multi-wheeled vehicle                      3
3-door                                     3
minicycle                                  3
fork                                       3
chassis cab                                3
comme                                      3
golf                                       2
deliv                                      2
stree                                      2
delv                                       2
usps                                       2
bicycle                                    2
dirt bike                                  2
dirt                                       2
amb                                        2
Name: vehicle_type_code1, dtype: int64

In [ ]:
df['range'] = df['range'].str.replace(',','-')

In [ ]:
df.to_csv('geopy_df.csv', index= False)

In [ ]:
import geopy
from geopy.geocoders import Nominatim
geocoder = Nominatim(user_agent = 'ozbunae@gmail.com')

In [ ]:
from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geocoder.reverse, min_delay_seconds = 1)